* {
  margin: 0;
}
.main a {
    font-size: 1.5rem;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  background: #16a085;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  
}

.main a:hover {
  background: black;
  color: white;
}
.main .navigation ul li a:active {
  color: red;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  flex: 3;
}

.navigation .user {
  flex: 1;
}

@media all and (max-width: 1000px) {
  .navigation ul {
    flex-wrap: wrap;
  }

  .navigation li {
    flex: 1 1 50%;
  }

  .navigation .user {
    flex: 1 1 33.33%;
  }
}

@media all and (max-width: 480px) {
  .navigation li {
    flex-basis: 100%;
  }

  .navigation .user {
    flex-basis: 50%;
  }
}
